:root {
}

@font-face {
  font-family: "The Brooklyn Smooth Bold";
  src: url(../assets/fonts/The\ Brooklyn\ Smooth\ Bold.ttf);
}

@font-face {
  font-family: "The Brooklyn Smooth Regular";
  src: url(../assets/fonts/The\ Brooklyn\ Smooth.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  font-family: "The Brooklyn Smooth Regular";
  font-size: 16px;
}

#content {
  height: 90vh;
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "header header"
    "aside main";
}

header {
  grid-area: header;
  display: grid;
  place-content: center;
  text-transform: uppercase;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  position: relative;
}

#top-section,
#bottom-section {
  margin: 1rem 0;
}

#bottom-section h3 {
  margin: 0.5rem 1rem;
  font-family: "The Brooklyn Smooth Bold";
}

.project-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border: none;
}

.dot {
  width: 1rem;
  aspect-ratio: 1/1;
  border: 5px solid #e00c52;
  border-radius: 50%;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas:
    "project-title task-actions"
    "tasks task-details";
}

#project-title,
.task,
#task-actions {
  padding: 0.5rem 1rem;
}

#project-title {
  grid-area: project-title;
  border-left: 0.5rem solid #e00c52;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "The Brooklyn Smooth Bold";
}

#task-actions {
  grid-area: task-actions;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.actionBtn {
  aspect-ratio: 1/1;
  width: 2.5rem;
  border: none;
  border-radius: 50%;
  background-color: #eee;

  display: grid;
  place-content: center;
}

#tasks {
  grid-area: tasks;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  position: relative;
}

.task {
  display: flex;
  align-items: center;
  align-items: space-between;
  gap: 1rem;
  height: 4rem;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(233, 233, 233, 0.3);
  background-color: #e9e9e9;
  border: 1px solid #ccc;
}

.task-infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-family: "The Brooklyn Smooth Bold";
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "The Brooklyn Smooth Regular";
}

.active {
  background-color: #0a8df9;
  color: #fff;
}

.addBtn,
.actionBtn {
  background-color: #fff;
  box-shadow: 0 0.1rem rgba(10, 141, 249, 0.2);
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.addBtn {
  position: absolute;
  bottom: 0.5rem;
  align-self: center;
  width: 8rem;
  height: 2.5rem;
  border: none;
  border-radius: 25px;
}

.addBtn:hover,
.actionBtn:hover {
  background-color: #0a8df9;
  box-shadow: 0 0.1rem #0a8df966;
  color: #fff;
}

.actionBtn:hover img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(36deg) brightness(103%)
    contrast(103%);
}

.actionBtn:first-child:hover {
  background-color: red;
}

#task-details {
  grid-area: task-details;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "checkmark title"
    ". description"
    ". items";
  gap: 1rem 0;
}

#checkmark {
  grid-area: checkmark;
  display: grid;
  place-content: center;
}

#task-title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  font-family: "The Brooklyn Smooth Bold";
}

#details-due-date {
  display: flex;
  align-items: flex-end;

  gap: 0.3rem;
}

#task-description {
  grid-area: description;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
  text-align: justify;
  line-height: 1.3rem;
}

#task-items {
  grid-area: items;
  padding: 2rem 0;
}

.item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.item-actions {
  display: flex;
  gap: 0.25rem;
}

#task-items .actionBtn {
  width: 1.5rem;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

#task-items .actionBtn:hover img {
  filter: invert(56%) sepia(96%) saturate(4219%) hue-rotate(188deg)
    brightness(97%) contrast(105%);
}

#task-items .actionBtn:last-child:hover img {
  filter: invert(20%) sepia(44%) saturate(4278%) hue-rotate(346deg)
    brightness(116%) contrast(144%);
}

header,
aside,
#tasks,
#task-details,
#task-actions {
  border: 1px solid #ccc;
}
